body {
    margin: 0px;
}

hr {
    margin: 3% 15%;
    border: 0.05rem solid;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.mt-4 {
    margin-top: 0.4rem;
}

.ml-4 {
    margin-left: 0.4rem;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 30vh;
    height: 100vh;
    background-color: #0c4574;
    color: #ffffff;
    position: fixed;
    overflow: auto;
}

.content {
    width: auto;
    height: 100vh;
    margin-left: 32vh;
    overflow-y: auto;
    color: #000000;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .content {
        width: auto;
        overflow-y: auto;
        margin-left: 3vh;
        color: #000000;
    }

}

.text-center {
    text-align: center;
}

.profile {
    text-align: center;
    margin: 3% 10%;
}

.profile img {
    background-color: #ffffff;
    border: 1px solid;
    border-radius: 50%;

    width: 100%;
    max-width: 400px;
    height: auto;
}

.name {
    font-size: 1.2rem;
}

.info {}

.title {
    font-weight: 800;
    font-size: 1.2rem;
}

.year {}

.company {}